nav {
  background-color: rgb(86, 114, 126);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul {
    display: flex;
    margin-right: 2rem;
    li {
      padding: 0.5rem 1rem;
      a {
        color: rgb(227, 235, 241);
        font-size: 1.25rem;
        transition: 0.2s ease-in;
      }
      a:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
}
