.search {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 3rem 0rem;

  // input {
  //   font-size: 1.5rem;
  //   padding: 1.55rem;
  //   color: aliceblue;

  //   margin: 0.5rem;
  //   border: 3px solid rgb(86, 114, 126);
  //   border-radius: 35px;
  //   transition: 0.3s ease-in;
  //   color: rgb(39, 39, 39);
  // }

  // button {
  //   font-size: 1.5rem;
  //   padding: 1.55rem;
  //   color: aliceblue;

  //   margin: 0.5rem;
  //   border: 5px solid rgb(86, 114, 126);
  //   border-radius: 35px;
  //   transition: 0.3s ease-in;
  //   background-color: rgb(86, 114, 126);

  //   &:hover {
  //     color: rgb(86, 114, 126);
  //     background-color: rgb(224, 230, 233);
  //     border: 5px solid rgba(86, 114, 126, 0.438);
  //   }
  // }
  .logreg-box {
    .form-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: transparent;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 20px 20px;
      border-radius: 30px;
      .input-box {
        position: relative;
        display: flex;
        justify-content: center; //文字居中(橫的)
        align-items: center;
        width: 250px;
        margin: 30px 20px 0 0;
        transition: width 0.5s ease-in-out;
        transition: height 0.2s ease-in-out;
        height: 50px;
        min-height: 50px;
        border-bottom: 3px solid rgb(86, 114, 126);
        input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-size: 24px;
          color: rgb(86, 114, 126);
        }
        label {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          font-size: 20px;
          color: rgb(86, 114, 126);
          font-weight: 500;
          pointer-events: none;
          transition: 0.5s ease;
        }
        input:focus ~ label,
        input:valid ~ label {
          top: -10px;
          color: rgba(86, 114, 126, 0.616);
        }
      }
      .loginBtn {
        display: flex;
        justify-content: center; //文字居中(橫的)
        align-items: center; //文字在方塊中居中(直的)
        width: 80px;
        height: 80px;
        margin: 30px 0 0 20px;
        border-radius: 15%;
        background-color: rgb(86, 114, 126);
        border: none;
        transition: all 0.3s ease-in;
        img {
          transition: all 0.2s ease-in;
        }
        &:hover {
          border-radius: 0%;
          background-color: rgb(63, 90, 100);
          img {
            transform: scale(1.2);
          }
        }
        &:active {
          transform: scale(0.95);
          img {
            transform: scale(1);
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .logreg-box {
      .form-box {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .input-box {
          margin: 50px auto;
        }
        .loginBtn {
          margin: 10px auto;
        }
      }
    }
  }
}
