* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.morePicture button {
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  color: aliceblue;
  background-color: rgb(86, 114, 126);
  cursor: pointer;
  transition: 0.3s ease-in;
}
.morePicture button:hover {
  background-color: rgb(59, 88, 100);
}
.morePicture button:active {
  transform: scale(1.05);
}

nav {
  background-color: rgb(86, 114, 126);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  margin-right: 2rem;
}
nav ul li {
  padding: 0.5rem 1rem;
}
nav ul li a {
  color: rgb(227, 235, 241);
  font-size: 1.25rem;
  transition: 0.2s ease-in;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.search .logreg-box .form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 20px;
  border-radius: 30px;
}
.search .logreg-box .form-box .input-box {
  position: relative;
  width: 400px;
  transition: width 0.5s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 50px;
  min-height: 50px;
  border-bottom: 5px solid rgb(86, 114, 126);
  margin: 50px 0;
}
.search .logreg-box .form-box .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  color: rgb(86, 114, 126);
}
.search .logreg-box .form-box .input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(86, 114, 126);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s ease;
}
.search .logreg-box .form-box .input-box input:focus ~ label,
.search .logreg-box .form-box .input-box input:valid ~ label {
  top: -10px;
  color: rgba(86, 114, 126, 0.616);
}
.search .logreg-box .form-box .loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 15%;
  margin: auto;
  background-color: rgb(86, 114, 126);
  border: none;
  transition: all 0.3s ease-in;
}
.search .logreg-box .form-box .loginBtn img {
  transition: all 0.2s ease-in;
}
.search .logreg-box .form-box .loginBtn:hover {
  border-radius: 0%;
  background-color: rgb(63, 90, 100);
}
.search .logreg-box .form-box .loginBtn:hover img {
  transform: scale(1.2);
}
.search .logreg-box .form-box .loginBtn:active {
  transform: scale(0.95);
}
.search .logreg-box .form-box .loginBtn:active img {
  transform: scale(1);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: rgb(86, 114, 126);
  min-height: 10vh;
  color: rgb(239, 242, 248);
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.pictures .picture {
  position: relative;
  padding: 1rem;
  width: 500px;
}
.pictures .picture .photographer {
  position: absolute;
  top: 7%;
  left: 10%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.pictures .picture .photographer p {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in;
  font-size: 23px;
}
.pictures .picture .photographer p:hover {
  transform: scale(1.08);
}
.pictures .picture .imageContainer {
  overflow: hidden;
  height: 45vh;
}
.pictures .picture .imageContainer img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.pictures .picture .magnifier {
  display: flex;
  width: 40px;
  height: 40px;
  top: 85%;
  left: 82%;
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.pictures .picture .magnifier img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}
.pictures .picture:hover .photographer {
  opacity: 1;
}
.pictures .picture:hover .imageContainer img {
  transform: scale(1.1);
  filter: brightness(85%);
}
.pictures .picture:hover .imageContainer + .magnifier,
.pictures .picture:hover .magnifier {
  opacity: 1;
}
.pictures .picture:hover .magnifier:hover {
  transform: scale(1.2);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 250%;
  font-size: 20px;
}
.about h3 {
  font-size: 30px;
  font-weight: bold;
}

.about h3 {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease forwards;
}

.about p {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease forwards;
}

.about .link img {
  margin: 10px 20px;
  width: 40px;
  height: 40px;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about p:nth-child(2) {
  animation-delay: 1.2s;
}

.about p:nth-child(3) {
  animation-delay: 2s;
}

.about p:nth-child(4) {
  animation-delay: 2s;
}

.about p:nth-child(5) {
  animation-delay: 2s;
}

.about p:nth-child(6) {
  animation-delay: 3s;
}

.about p:nth-child(7) {
  animation-delay: 3s;
}

.about .link img {
  animation-delay: 4s;
}/*# sourceMappingURL=style.css.map */